<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>
<body>
   
   <div class="container">
    
        <h1>Resposta</h1>
         <hr>
        <% pergunta.forEach(pergunta =>{ %>
             
      
       
         <h3><%= pergunta.titulo %> </h1>  
     <hr>
           <p><%= pergunta.desc %></p> 
       <hr>
            
          
       
 
     <form action="/responder" method="post">
        <h4>Responda</h4>
        <textarea class="form-control" name="corpo"></textarea>
        <hr>
        <input name="idPe" type="hidden" value="<%=pergunta.id%>">
        <% }) %>
        <button class="btn btn-success">Responder</button>
     </form>
   
     <% resposta.forEach(resposta =>{ %>
      <hr>
      <div class="card">
          <div class="card-header">
           
                  <%= resposta.corpo %>
                
          </div>   
  
          </div>
        
     <br>
    <% }) %>
   </div> 
</body>
</html>
